{{>header}}
<div class="container">
    <div class="signup-container">
        <h1>회원가입</h1>
        <table class="tbl2">
            <tr>
                <td>아이디</td>
                <td>
                    <div class="input-div">
                        <input type="text" name="usrId" class="input1 w100" placeholder="아이디">
                    </div>
                </td>
            </tr>
            <tr>
                <td>패스워드</td>
                <td>
                    <div class="input-div">
                        <input type="password" name="passWd" class="input1 w100" id="passWd" placeholder="8~16자의 영문 대 소문자, 숫자, 특수문자">
                    </div>
                </td>
            </tr>
            <tr>
                <td>패스워드 확인</td>
                <td>
                    <div class="input-div">
                        <input type="password" class="input1 w100" id="passWdCk" placeholder="패스워드 확인">
                    </div>
                </td>
            </tr>
            <tr>
                <td>이름</td>
                <td>
                    <div class="input-div">
                        <input type="text" name="name" class="input1 w100" placeholder="한글 2~5 글자">
                    </div>
                </td>
            </tr>
            <tr>
                <td>닉네임</td>
                <td>
                    <div class="input-div">
                        <input type="text" name="nickNm" class="input1 w100" placeholder="닉네임">
                    </div>
                </td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <div class="rdo1">
                        <input type="radio" name="sex" value="M" id="sexM" >
                        <label for="sexM">남</label>
                        <input type="radio" name="sex" value="F" id="sexF" >
                        <label for="sexF">여</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>핸드폰 번호</td>
                <td>
                    <div class="input-div">
                        <input type="text" name="hpNo" class="input1 w100" placeholder="핸드폰 번호 ex) 01012345678">
                    </div>
                </td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>
                    <div class="input-div">
                        <input type="text" name="emi" class="input1 w100" placeholder="ex) 이메일@gmail.com">
                    </div>
                </td>
            </tr>
        </table>
        <div class="pt20 tc">
            <a href="#" class="btn-default btn-bg1">가입하기</a>
        </div>
    </div>
</div>
{{>footer}}