<footer>
    <!-- 하단 광고 -->
    <div class="blurb">
        <div class="bottom-blurb"></div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/common.js"></script>
</body>
</html>